version: "3.7"

services:
  guidom-airflow:
    build: ./airflow
    env_file: ./airflow/.env
    container_name: guidom-airflow
    depends_on:
      - guidom-db
    ports:
      - 8080:8080
    volumes:
      - ./src/dags:/app/airflow/dags

  guidom-db:
    image: postgres:13.1
    container_name: guidom-db
    expose:
      - "5432"
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=airflow
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - /var/lib/postgresql/data/airflow:/var/lib/postgresql/data

networks:
  default:
    external:
      name: guardian-network
